/* Customization for RTL modifications */
body {
  text-align: right;
}

.hero-area .block .video-button {
  margin-bottom: 50px; /* Added by YAR to give some space */
}

.ml-auto, .mx-auto {
    margin-right: auto!important;
    margin-left: 0!important;
}

/* About 2 section */
.section-bg {
    text-align: right;
}
.mr-3, .mx-3 {
    margin-left: 1rem!important;
}

.offset-lg-2 {
    margin-right: 16.666667%!important;
    margin-left: 0;
    direction: rtl;
    text-align: right;
}

blockquote {
  border-left: 0;
  border-right: 5px solid #6CB670;
  line-height: 42px;
  margin: 20px 40px 20px 0;
  direction: rtl;
  text-align: right;
  padding-right: 30px;
}

li.list-inline-item:not(:last-child) {
    margin-left: .5rem;
    margin-right: 0;
}

ul.list-inline {
    padding-right: 0!important;
}


[dir='ltr'] .slick-slide
{
    float: left;
}

.form-meghna button:hover,
.form-meghna textarea:hover,
#contact-submit:hover {
  border-color: #57cbcc;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.social-share {
    text-align: center;
}
